@page "/"

<PageTitle>Index</PageTitle>


  <div class="container text-center mt-5">
    <div class="card p-4">
      <img src="https://via.placeholder.com/150" alt="Profile Picture" class="profile-img mx-auto">
      <h2 class="mt-3">John Doe</h2>
      <p class="lead">Web Developer & Designer</p>
      <p>Passionate about building beautiful and functional websites.</p>
      
      <!-- Social Media Links -->
      <div class="mt-3">
        <a href="#" class="btn btn-primary mx-2">LinkedIn</a>
        <a href="#" class="btn btn-dark mx-2">GitHub</a>
        <a href="#" class="btn btn-info mx-2">Twitter</a>
      </div>
    </div>
  </div>